{% extends '@App/base_admin.html.twig' %}

{% block content %}
    <article class="bloc" id="spectacles container-fluid">
        <a id="article-anch" class="anch"></a>
        {% include '@App/admin/partials/admin-new-shows-loop.html.twig' %}

        {% include '@App/admin/partials/admin-old-shows-loop.html.twig' %}
    </article>
    <div class="article-loop row  container-fluid event-list">

        {% include '@App/admin/partials/admin-events-loop.html.twig' %}
    </div>
{% endblock %}
