<div class="edit">
    <div class=" show-line show-line-edit">
        <a href="{{ path('admin_update_show', {'id': leShow.Id}) }}">
            <i class="fal fa-pen"></i>
        </a>
    </div>
    <div class="show-line show-line-trash">
        <a href="{{ path('admin_delete_show', {'id': leShow.Id}) }}">
            <i class="fal fa-trash"></i>
        </a>
    </div>
</div>