<div class="edit">
    <div class="col-2 show-line show-line-edit">
        <a href="{{ path('admin_update_place', {'id': place.Id}) }}">
            <i class="fal fa-pen"></i>
        </a>
    </div>
    <div class="col-2 show-line show-line-trash">
        <a href="{{ path('admin_delete_place', {'id': place.Id}) }}">
            <i class="fal fa-trash"></i>
        </a>
    </div>
</div>